extends ../layout

block content
  .container(style="margin-top:25px")
    .row.d-flex.justify-content-center
      .col-lg-8.shadow-lg.p-2.mb-5
        .card
          .card-header
            h1.text-center= titulo
          .card-body
            - var url = usuario ? usuario.id+"?_method=PUT" : "";
            form.row.g-3(method="post",action="./"+url)

              .col-md-12 
                label.form-label(for="nombre") Nombre:
                input.form-control(type="text",required ,name="nombre",value=usuario ? usuario.nombre : "") 
              
              .col-md-6
                label.form-label(for="email") Email:
                input.form-control(type="email",required,name="email",value=usuario ? usuario.email : "")
              
              if(usuario)
                .col-md-6
                  label.form-label(for="password") Password:
                  a.btn.btn-success.form-control(href='/usuarios/pass/'+usuario.id) Cambiar Password
              else
                .col-md-6
                  label.form-label(for="password") Password:
                  input.form-control(type="password",name="password") 
              
              if(admin)
                div.form-check.form-check-reverse
                  input.form-check-input(type="checkbox", name="rol", value="Admin")
                  label.form-check-label(for="rol") Administrador
                  input(type="hidden", name="idAdmin", value= admin.id)
              
              .col-md-12.text-center
                a.btn.btn-danger.btn-lg.me-2(href= usuario ? '/usuarios/perfil' : '/') Cancelar
                input.btn.btn-primary.btn-lg(type="submit",value=usuario ? "Actualizar" : "Registrar")
    